{% extends 'core/base.html' %}
{% load static %}


{% block title %}Log In{% endblock %}

{% block content %}

<script src="https://www.google.com/recaptcha/api.js"></script>
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<div id="google_translate_element"></div><br>
{% if request.user.is_authenticated %}


<br><h1><strong>Already Logged in</strong></h1>
<a href="{% url 'user' %}" class="px-6 py-3 text-lg font-semibold bg-emerald-400 text-white rounded-xl hover:bg-gray-700"><i class="fa-solid fa-house"></i>--- Return to Homepage</a><br>


{% else %}
<div class="signer w-1/3 my-6 mx-auto p-6 bg-black rounded-xl">
    <h1 class="mb-6 text-3xl">Login</h1>

    <form  method="post" action=".">
        {% csrf_token %}

        

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>
        <br>
       

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>


        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red red-100 rounded-xl">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        
        <button class="submit py-2 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Login</button><br>
        <a href="{% url 'core:signup' %}">Don't have an account?   |</a>
        <a href="{% url 'password_reset' %}">    Reset Password</a>
        <br>
        <div class="g-recaptcha" data-sitekey="6Lfs9e0kAAAAAIrKrCt61137VD-KgT2C6Bjapp2N"></div>
        <button class="g-recaptcha py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit'data-action='submit'>Submit</button>  
        
    </form>

</div>


</div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>


    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

{% endif %}
{% endblock %}


</html>