{% extends 'core/base.html' %}
{% load static %}


{% block title %}Confirm Payment{% endblock %}

{% block content %}

<script src="https://www.google.com/recaptcha/api.js"></script>

<div id="google_translate_element"></div>

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-500 rounded-xl">
    <h1 class="mb-6 text-3xl">Confirm Payment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions bg-red">
        <br>
        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </div>
    </form>

        
        
        
    </form>

</div>


</div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>


    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>


{% endblock %}


</html>